/* --- About Us Section --- */
.about-us {
  padding: var(--section-spacing) 0;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.about-image-placeholder {
  flex: 1;
  height: 400px;
  background-color: #E0E0E0; /* Màu xám placeholder */
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('aboutus.jpg') no-repeat center center/cover;
  border-radius: 10px;
}

.about-text {
  flex: 1;
}

.about-text h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
