.footer {
  background-color: #1B5E20; /* Màu xanh rất đậm */
  color: var(--light-text);
  padding: 20px 0;
  text-align: center;
}

.footer p {
  font-size: 0.8rem;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
}
