.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 10;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
  height: 60px;
  width: auto;
  display: block;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links a {
  text-decoration: none;
  color: var(--light-text);
  font-weight: 500;
  font-size: 0.9rem;
}

.header .btn {
  padding: 8px 25px;
  font-size: 0.9rem;
}
