.hero {
  height: 100vh;
  /* Placeholder image cho hero banner */
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('bg.png') no-repeat center center/cover;
  display: flex;
  align-items: center;
  color: var(--light-text);
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-content p {
  margin-bottom: 30px;
  font-size: 1.1rem;
  opacity: 0.9;
}
