.dashboard-layout {
  display: flex;
  background-color: #FFFFFF;
  height: 100vh;
  overflow: hidden;
}

.dashboard-content {
  flex: 1;
  transition: margin-left 0.3s ease;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.dashboard-content.sidebar-open {
  margin-left: 250px;
}

.dashboard-content.sidebar-closed {
  margin-left: 80px;
}